.parent img{
 height: 521px;
 width: 100%;
 /* position: absolute; */
}
.Navbar{
  display: flex;
  justify-content: space-around;
  /* height: auto; */
  width: 100%;
  position: absolute;
  top: 10px;

}
.text{

  color: white;
  font-size: 20px;
  text-decoration: none;


}
.text:hover{
  color: rgb(0, 81, 255);
}
.Navbar-right{
  margin-left: 100px;
  width: 201px;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */


}
.Navbar-left{
  margin-right: 100px;
  width: 251px;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}
.zomato-logo{
  position: absolute;
  top: 35%;
  margin: -1% 49%;
  /* width: 150px; */
  /* height: 100px; */
  transform: translate(-50%,-50%);
 


}
inp{
  margin: 0%;
}
.zomato-logo img{
  width: 330px;
  height: 50px;
  gap: 50px;
  margin: 40px;
  
}
.input-search{
  color: white;
  position: absolute;
  top: 38%;
  margin: 0% 28%;
}
.inp .hm{
  width: 400px;
  text-align: start;
  height: 50px;
  /* border: rgb(90, 40, 40) solid 2px; */
  border-radius: 10px;
}
.inp select {
  width: 180px;
  text-align: center;
  height: 50px;
  border: rgb(90, 40, 40) solid 2px;
  border-radius: 10px;
}
.input-search h3{
  font-size: 30px;
}


  
  .main{
    background-color: rgb(198, 243, 240);
    height: 742px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-form{
    border: 2px solid rgb(127, 116, 116);
    width: max-content;
    height: max-content;
    background-color: rgba(12, 236, 42, 0.521);
    /* padding: 50px; */

   

  }
  .h2{
    background-color: rgb(230, 254, 205);
    padding: 25px;
    height: 100px;
    text-align: center;
    /* text-align: center; */
    margin: 0%;
    color: rgb(250, 249, 247);
  }
  .h2 h2{
    color: rgb(65, 40, 139);
  }
  /* .restro{
     padding: 40px;
     color: rgb(217, 244, 10), (0.82455, 255, 255);
  } */
  .input1{
    width: 80%;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a0537;
    color: #fff;
    border: 1px solid #333;
    box-shadow: 20px 20px black;
    margin: 100px auto;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #00bfff;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
  }
  
  .submit:hover {
    background-color: #00bfff96;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  .container {
    position: relative;
    max-width: 1000px;
    width: 1000px;
    /* background: #FCEDDA;*/
    padding: 25px;
    border-radius: 8px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  }
  
  .container header {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600px;
    text-align: center;
  }
  
  .container .form {
    width: 50%;
    margin-top: 15px;
  }
  
  .form .input-box {
    width: 100%;
    /* margin-top: 20px; */
  }
  
  .input-box label {
    color: #fefcfc;
  }
  
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: max-content;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #EE4E34;
    border-radius: 6px;
    padding: 0 15px;
    background: #FCEDDA;
  }
  
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .input-box input{
    width: 100%;
  }
  
  .form .column {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
  }
  
  .form .gender-box {
    margin-top: 10px;
  }
  
  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }
  
  .form .gender {
    column-gap: 5px;
  }
  
  .gender input {
    accent-color: #EE4E34;
  }
  
  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }
  
  .gender label {
    color: #f3d0d0;
  }
  
  .address :where(input, .select-box) {
    margin-top: 10px;
  }
  
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: #FCEDDA;
  }
  
  .form button {
    height: 40px;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(8, 84, 248);
  }
  
  .form button:hover {
    background: #34ee34;
  }
  .clm{
    column-gap: 5;
  }
  .a{
    color: #000;
    margin: 4px;
    
  }
 .icon{
  display: flex;
 }
  
  
