.cities{
    height: 70px;
    width: 320px;
    border-radius: 10px;
    padding: 14px;
    font-size: 20px;
    border: 3px solid rgb(243, 239, 239);
   
}
.cities:hover{
    box-shadow: 2px 2px 2px 2px rgb(241, 240, 240) ;


}
.button2{
    width: 230px;
    display: flex;
    justify-content: space-between;
}
.button2 button{
    width: 100px;
    border: 1px solid grey;
    border-radius: 6px;
}
